/* font-family: 'Abril Fatface', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
}

header nav{
    background-image:url(./img/banner.jpg)

}

h1{
    color: grey;
    background-color: blanchedalmond;
    text-decoration:double;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    border: gray 4px none;
    padding: 50px;
    margin: 20px 0px 20px 0px;
    font-size: 50px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}
p {
    margin: 50px 50px 50px 50px;
    text-align: left;
    color: black;
    font-family: 'Hind', sans-serif;
    font-weight:400 ;
    font-size: 16px;
}

